src/processed/glove-wiki-gigaword-100-word2vec.txt
src/processed/glove-twitter-100-word2vec.txt
src/processed/train_tfidf.csv
src/processed/val_tfidf.csv
src/processed/test_tfidf.csv
.ipynb_checkpoints
src/processed/train_encoded_x.npy
